<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Enviar PDF </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true" class="centrado" >
  <ion-list *ngIf="ofertas">
  <p style="text-align:center">Listado Por ofertas</p>
    <ion-button (click)="generarPDFoferta(ofertas.data)">Enviar PDF</ion-button>
  </ion-list>
  <br>
  <ion-list *ngIf="usuarios">
  <p style="text-align:center">Listado de participantes</p>
    <ion-button (click)="generarPDFusuarios(usuarios.data,ofertas.data)">Enviar PDF</ion-button>
  </ion-list>
</ion-content>
