
<ion-header>
  <ion-toolbar>
    <ion-title>tab4</ion-title>
  </ion-toolbar>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item>
    <ion-label>Nombre del ciclo</ion-label>
    <ion-select placeholder="Selecciona" [(ngModel)]="valor" *ngIf="ofertas" (ionChange)=seleccion(ofertas.data) >
      <ion-select-option  *ngFor="let oferta of ofertas.data" value={{oferta.cicle_name}} >
      {{oferta.cicle_name}}
      </ion-select-option >
    </ion-select>
  </ion-item>
</ion-list>
<div class="chart-wrapper">
  <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
</ion-content>
