
<app-header titulo="Grafico"></app-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-item>
    <ion-label>Nombre del ciclo</ion-label>
    <ion-select placeholder="Selecciona" [(ngModel)]="valor" *ngIf="ciclos" (ionChange)=seleccion() >
      <ion-select-option  *ngFor="let ciclo of ciclos.data"  value={{ciclo.name}} >
      {{ciclo.name}}
      </ion-select-option >
    </ion-select>
  </ion-item>
</ion-list>

<div class="chart-wrapper">
  <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
</ion-content>
