<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Activar Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list #lista  *ngIf="usuarios">
  <ion-item-sliding  *ngFor="let usuario of usuarios.data " >
    <ion-item *ngIf="usuario.type == 'client' && usuario.actived=='0'">
      <ion-label >
        <h2>{{usuario.name}}</h2>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
     <button ion-button  color="danger" (click)="activarUsuario(usuario.id)"><ion-icon name="checkbox-outline"></ion-icon>
         Activar
      </button>
    </ion-item-options>
  </ion-item-sliding>
   
 </ion-list>
</ion-content>
