<ion-header>
  <ion-toolbar>
    <ion-title>registro</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content padding>
  <img [src]="imagen" class="img"/>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [formControl]="name" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Apellidos</ion-label>
      <ion-input [formControl]="surname" type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Dirección de correo</ion-label>
      <ion-input [formControl]="email" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Constraseña</ion-label>
      <ion-input [formControl]="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Repite la constraseña</ion-label>
      <ion-input [formControl]="c_password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Ciclo</ion-label>
      <ion-select [formControl]="ciclo_id" (ionChange)="evento()" placeholder="Seleccione un ciclo">
        <ion-select-option *ngFor="let ciclo of cicles" [value]="ciclo.id">{{ciclo.name}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button class="btn btn-primary"expand="full" (click)="registro()">Registrarse</ion-button>
  <ion-button class="btn" color="danger"expand="full" href="">Volver al login</ion-button>
</ion-content>
