<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ofertas no aplicadas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">
  <ion-item>
    <ion-select (ionChange)="filtro($event)">
      <ion-select-option selected="true"  value="0">Todos</ion-select-option>
      <ion-select-option *ngFor="let ciclo of ciclos" [value]="ciclo.id">{{ciclo.name}}</ion-select-option>
    </ion-select>
  </ion-item>
  <span>
      <app-ofertas [ofertas]="ofertas" [tipo]="true"></app-ofertas>
  </span>
</ion-content>
