<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Borrar Ofertas </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  
  <ion-list #lista  *ngIf="ofertas">
  <ion-item-sliding  *ngFor="let oferta of ofertas.data " >
    <ion-item *ngIf="oferta.deleted =='0'">
      <ion-label >
        <h2>{{oferta.headline}}</h2>
      </ion-label>
    </ion-item>
    <ion-item-options side="end">
      <button ion-button  color="danger" (click)="borrarSitio(oferta.id)"><ion-icon name="trash"></ion-icon>
         Borrar
      </button>
    </ion-item-options>
  </ion-item-sliding>
   
 </ion-list>
</ion-content>

